@media (max-width: 1180px) {

header {
  .h-wrapper{
    menu{
      nav{
        .mb-separator {
          margin: 0 10px;
        }
      }
    }
  }
}

main {
  .banner {
    padding-top: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .newbook {
    .wrapper-books {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .wb-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }
    }
    .link {
      padding-top: 20px;
    }
  }
  .magazine {
    .wrapper-magazine {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .wm-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }
    }
    .link {
      padding-top: 10px;
    }
  }
  .partner {
    .wrapper-partner {
      padding-bottom: 20px;
      .wp-item {
        margin-bottom: 20px;
      }
    }
  }
}
}

@media (max-width: 992px){

header {
  .h-wrapper{
    menu{
      position: relative;

      .menu-button {
        display: block;
      }

      nav{
        display: none;
        z-index: 999;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: $bg_02;

        a {
          font-size: 18px;
          display: block;
          color: $ac_02;
          padding: 10px 15px;
          border-bottom: 1px solid $bg_04; 
          &:hover { color: $ac_02 - 20; }
        }

        .mb-separator {
          display: none;
        }
      }
    }
  }
}

main {
  .afisha {
    .wrapper-items{
      padding: 0;

      .wi-navigation {
        display: none;
      }
      .item {
        width: 100%;
        margin-bottom: 10px;
        &:last-child { margin-bottom: 0; }
        .ai-descr {
          font-size: 18px;
        }
      }
    }
  }
  .services {
    .s-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

footer {
  nav {
    display: none;
  }
}

}


@media (max-width: 768px) {

main {
  .banner {
    padding-top: 250px;
  }
  .newbook {
    .wrapper-books {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .magazine {
    .wrapper-magazine {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

}

@media (max-width: 615px){

main {
  .banner {
    padding-top: 200px;
  }
  .newbook {
    .wrapper-books {
      grid-template-columns: 1fr 1fr;
    }
  }
  .magazine {
    .wrapper-magazine {
      grid-template-columns: 1fr 1fr;
    }
  }
}

}

@media (max-width: 460px){

main {
  .banner {
    padding-top: 90px;
  }
  .services {
    .s-wrapper {
      grid-template-columns: 1fr;
    }
  }
}

}