@import "reset";
@import "fonts";

/* ACENT */
$ac_01: #0055ab;
$ac_02: #003367;

/* BACKGROUND */
$bg_01: #cdcfd1;
$bg_02: #ffffff;
$bg_03: #f2f2f2;
$bg_04: #e6e5e5;
$bg_05: #000000;

/* FONTS */
$ft_01: #222222;
$ft_02: #ffffff;
$ft_03: #3c3c3c;

/* BORDERS */
$br_01: #d8d6d6;
$br_02: #d4cebb;
$br_03: #bbbbbb;



/* VIRABLE */
$shadow_01: 0 0 5px 1px rgba(0,0,0,.5);
$shadow_02: 0 0 5px 1px rgba(0,0,0,.1);
$shadow_03: 0 3px 5px 1px rgba(0,0,0,.1);
$shadow_04: 0 4px 4px 0 rgba(0,0,0,.05);
$shadow_05: 0 0 40px rgba(0,0,0,1);
$animation: 0.2s;


body {
    /*position: relative;*/
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    background: $ac_02;
    color: $ft_01;
}

.wrapper {
    max-width: 2570px;
    min-width: 360px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.content {
    max-width: 1190px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

section {

    .title {
        font-weight: 700;
        font-size: 30px;
        color: $ac_01;
        text-align: center;
    }

    .link {
        text-align: center;

        a {
            font-weight: 700;
            color: $ft_03;
            transition: $animation;
            &:hover { color: $ft_03 - 25; }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 777;

    .h-wrapper {
        position: relative;
        box-shadow: $shadow_01;
        background: $ac_01;
        padding-top: 3px;

        .nav-bar {
            padding-top: 7px;
            padding-bottom: 6px;
            border-bottom: 1px solid $br_02;
            background: $bg_01;
            box-shadow: $shadow_01;

            .content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }

            .nb-visl,
            .nb-mail {
                display: flex;
                align-items: center;
                text-decoration: none;

                .p {
                    font-size: 14px;
                    color: $ft_01;
                    text-decoration: none;
                    transition: $animation;
                }

                svg {
                    display: block;
                    width: 22px;
                    height: 22px;
                    margin-right: 5px;

                    path {
                        transition: $animation;
                        fill: $ac_01;
                    }
                }

                &:hover {
                    .p {
                        color: $ft_01 + 20;
                        text-decoration: underline;
                    }

                    svg path {
                        fill: $ac_01 - 20;
                    }
                }
            }

            .nb-mail {
                svg {
                    width: 19px;
                    height: 19px;
                }
            }

            .nb-social-group {
                display: flex;
                align-items: center;

                .nbsg-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 1px solid $ac_01;
                    margin-right: 7px;
                    transition: $animation;
                    box-shadow: $shadow_02;


                    &:last-child {
                        margin-right: 0;
                    }

                    svg {
                        display: block;
                        width: 100%;
                        height: 100%;

                        path {
                            transition: $animation;
                            fill: $ac_01;
                        }
                    }

                    &.yt {
                        svg {
                            width: 80%;
                            height: 80%;
                        }
                    }

                    &:hover {
                        border: 1px solid $ac_01 - 20;

                        svg path {
                            fill: $ac_01 - 20;
                        }
                    }
                }
            }

            .nb-login-group {
                display: flex;
                align-items: center;

                .nblg-item {
                    text-decoration: none;
                    font-size: 14px;
                    color: $ft_01;
                    transition: $animation;

                    &:hover {
                        text-decoration: underline;
                        color: $ft_01 + 20;
                    }
                }

                .nblg-separator {
                    margin: 0 15px;
                    width: 1px;
                    height: 10px;
                    background: $ft_01;
                }
            }

            .nb-language-group {
                display: flex;

                .nblg-item {
                    width: 27px;
                    height: 17px;
                    border: 1px solid $br_01;
                    cursor: pointer;
                    box-shadow: $shadow_02;

                    &:first-child {
                        margin-right: 7px;
                    }

                    &.ru {
                        background: url(../img/ru.svg) center center no-repeat;
                        background-size: cover;
                    }

                    &.by {
                        background: url(../img/by.svg) left center no-repeat;
                        background-size: cover;
                    }
                }
            }
            
            .nb-search-group {
                position: relative;

                .nbsg-input {
                    width: 240px;
                    padding: 7px;
                    padding-right: 30px;
                    border: 1px solid $ac_01;
                    background: $bg_02;
                    font-family: "OpenSanss", "Arial", sans-serif;
                    font-style: italic;
                    box-shadow: $shadow_02;

                    &::placeholder {
                        transition: $animation;
                        color: $bg_01;
                    }

                    &:focus::placeholder {
                        color: transparent;
                    }
                }

                .nbsg-buttom {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 22px;
                    height: 22px;
                    cursor: pointer;

                    svg {
                        width: 100%;
                        height: 100%;

                        path {
                            transition: $animation;
                            fill: $ft_01;
                        }
                    }

                    &:hover svg path {
                        fill: $ft_01 + 20;
                    }
                }
            }     
        }

        menu {
            margin-top: 12px;
            padding-bottom: 9px;

            .content {
                display: flex;
                align-items: center;
            }

            .menu-button {
                display: none;
                width: 28px;
                height: 24px;
                margin-right: 20px;
                cursor: pointer;
                background: url('../img/menu.svg') center center no-repeat;
                background-size: contain;

                &:hover {
                    box-shadow: 0 0 4px rgba(0,0,0,0.3);
                }

            }

            #menu {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                a {
                    font-size: 17px;
                    color: $ft_02;
                    text-decoration: none;
                    transition: $animation;

                    &:hover {
                        color: #ccc;
                    }
                }

                .mb-separator {
                    margin: 0 22px;
                    width: 2px;
                    height: 12px;
                    background: $ft_02;
                }
            }
        }
    }
}

main {
    margin-top: 48px;
    background: $bg_02;

    .banner {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 340px;
        height: 720px;
        background: url(../img/back.jpg) center top no-repeat;
        /*background-size: cover;*/
        
        h1 {
            text-align: center;
            font-size: 28px;
            text-transform: uppercase;
            color: $ft_02;
            font-weight: 700;
            line-height: 1.3;
            transform: scaleY(1.1);
            text-shadow: $shadow_05;

            b {
                font-weight: 900;
            }
        }

        img {
            width: 287px;
            height: 82px;
            margin-top: 130px;
            margin-bottom: 25px;
        }

        p {
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: $ft_02;
            text-shadow: $shadow_05;

            a {
                color: $ft_02;
            }
        }
    }

    .afisha {
        background: $bg_03;

        .title {
            padding: 35px 0;
        }

        .link {
            padding: 20px 0;

            a {
                font-size: 14px;
            }
        }

        .wrapper-items {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 25px;

            .wi-navigation {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                width: 100%;
                height: 69px;
                transform: translateY(-50%);

                .win-arrow {
                    width: 19px;
                    height: 69px;
                    cursor: pointer;

                    &.right {
                        position: absolute;
                        top: 0;
                        right: -7px;
                    }

                    &.left {
                        position: absolute;
                        top: 0;
                        left: -7px;
                    }
                    
                    svg {
                        width: 100%;
                        height: 100%;

                        path {
                            transition: $animation;
                            fill: $ac_01;
                        }
                    }

                    &:hover {
                        svg path {
                            fill: $ac_01 - 20;
                        }
                    }
                }
            }

            .item {
                position: relative;
                /*max-width: 360px;*/
                width: 31%;
                padding: 0 15px 20px 15px;
                border: 1px solid $br_03;
                background: $bg_02;
                border-radius: 5px;
                box-shadow: $shadow_03;

                .ai-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    min-height: 75px;
                    padding: 5px 0;
                    color: $ac_01;
                    font-weight: 700;
                    font-size: 16px;
                }

                .ai-image {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .ai-descr {
                    padding: 10px;
                    font-size: 12px;
                    text-align: center;
                }

                .ai-addit {
                    position: absolute;
                    bottom: 7px;
                    left: 15px;
                    right: 15px;
                    display: flex;
                    justify-content: space-between;

                    .aia-date {
                        font-size: 14px;
                        font-weight: 700;
                        color: $ac_01;
                    }

                    .aia-link {
                        display: block;
                        color: $ac_01;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .newbook {
        background: $bg_02;

        .title { padding: 25px; }

        .link {
            padding: 40px;
            a { font-size: 18px; }
        }

        .wrapper-books {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            
            .wb-item {
                display: flex;
                justify-content: center;
                align-items: center;
                
                .wbi-book {
                    cursor: pointer;
                    transition-duration: 0.2s;

                    &:hover {
                        box-shadow: 0 0 10px rgba(0,0,0,0.3);
                    }

                    img {
                        display: block;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .magazine {
        background: $bg_03;

        .title {
            padding: 30px 0;
        }

        .link {
            padding: 30px 0;
            a { font-size: 14px; }
        }

        .wrapper-magazine {
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            .wm-item {
                display: flex;
                justify-content: center;
                align-items: center;

                .wmi-magazine {
                    cursor: pointer;
                    transition-duration: 0.2s;

                    &:hover {
                        box-shadow: 0 0 10px rgba(0,0,0,0.3);
                    }

                    img {
                        display: block;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }          
        }
    }

    .services {
        background: $bg_04;

        .title {
            padding: 25px 0;
        }

        .s-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .s-item {
                display: flex;
                justify-content: center;
                margin-bottom: 45px;
                cursor: default;
            }

            .si-body {
                width: 215px;
                height: 215px;
                padding-top: 30px;
                border-radius: 50%;
                background: $bg_02;
                overflow: hidden;
                border: 3px solid $ac_01;
                box-shadow: $shadow_03;
                text-align: center;
                transition-duration: 0.2s;

                &:hover {
                    box-shadow: 0 3px 5px 2px rgba(0,0,0,.4);
                }

                img {
                    display: inline-block;
                    height: 90px;
                }

                p {
                    color: $ac_01;
                    font-size: 15px;
                }
            }
        }
    }

    .history {
        padding: 50px 0;
        .content {
            display: flex;
        }

        .h-descr {
            padding-right: 15px;
            width: 50%;

            .hd-title {
                color: $ac_01;
                font-size: 24px;
                margin-bottom: 15px;
            }

            .hd-content {
                p {
                    margin-bottom: 15px;
                    &:last-child { margin-bottom: 5px; }
                }
            }

            .hd-link {
                display: block;
                text-align: right;
                a {
                   color: $ac_01; 
                }
            }
        }

        .h-image {
            padding-left: 15px;
            width: 50%;
            background: url(../img/history.jpg) center center no-repeat;
            background-size: cover;
        }
    }

    .map {
        width: 100%;
        height: 445px;
    }

    .partner {
        .wrapper-partner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 40px 0;

            .wp-item {
                margin-right: 20px;
                &:last-child { margin-right: 0; }

                a, img { display: block; }
            }
        }
    }
}

footer {

    nav,
    .copyright {
        display: flex;
        justify-content: center;
    }

    nav {
        padding: 20px;
        background: $ac_01;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        a {
            display: block;
            margin-right: 20px;
            color: $ft_02;
            text-decoration: none;
            transition: $animation;

            &:last-child { margin-right: 0; }
            
            &:hover {
                color: $ft_02 - 20;
                /*text-decoration: underline;*/
            }
        }
    }

    .copyright {
        font-size: 15px;
        padding: 10px;
        background: $ac_02;
        color: $ft_02;
        text-align: center;
        text-transform: uppercase;
    }
}

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;

    .p-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        max-width: 700px;
        min-width: 360px;
        background: #ffffff;
        padding: 2rem;

         .p-close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            background: url(../img/cancel.svg) center center no-repeat;
            background-size: contain;
            cursor: pointer;
        }

        .image {
            width: 40%;

            img {
                display: block;
                width: 100%;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            padding-left: 2rem;
            width: 60%;
            
            p.title {
                height: auto;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 2rem;
                color: $ac_02;
            }

            p {
                text-align: justify;
                height: 100%;
                font-size: 15px;
                line-height: 1.4;
            }

            a {
                font-size: 18px;
                text-align: center;
                color: $ac_02;
                font-weight: 600;
            }
        }
    }
}

.services {
    background: #e6e5e5;
    padding-top: 2rem;
    padding-bottom: 3rem;

     @media(max-width: 900px){
        padding-bottom: 0;
     }

    .wrapper-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media(max-width: 900px){
            grid-template-columns: 1fr 1fr;

            .item {margin-bottom: 2rem;}
        }

        @media(max-width: 500px){
            grid-template-columns: 1fr;

            .item {margin-bottom: 2rem;}
        }

        .item {
            padding: 0 15px;

            &:hover {
                .image {
                    box-shadow: 0 3px 5px 2px rgba(0,0,0,.4);
                }
            }

            .image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 170px;
                background: #396a9b;
                margin-bottom: 1rem;
                border-radius: 10px;
                transition-duration: 0.2s;
            }
            .text {
                text-align: center;
                text-transform: uppercase;
                color: #396a9b;
            }
        }
    }
}

.services-text {
    padding-top: 2rem;
    padding-bottom: 3rem;

    p>b {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    ul {
        margin-bottom: 1rem;
    }

    ul > li {
        padding-left: 2rem;
    }

    strong {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-weight: 600;
        text-align: center;
        color: #396a9b;
    }

    table {
        width: 100%;
        border: 1px solid #707070;
        tr {
            th {
                padding: 0.5rem;
                background: #396a9b;
                color: #fff;
                font-weight: 600;
                border-right: 1px solid #707070;
                &:last-child {border-right: 0;}
            }
            td {
                text-align: center;
                vertical-align: middle;
                padding: 2rem 0.5rem;
                border-right: 1px solid #707070;
                &:last-child {border-right: 0;}
            }

            &:nth-child(even) {
                background: #e6e5e5;
            }
        }
    }
}

.contact {
    padding-top: 4rem;
    padding-bottom: 2rem;

    @media(max-width: 900px){
        padding-top: 3rem;
        padding-bottom: 1rem;
     }

    .subtitle {
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .wrapper-contact {
        display: flex;
        flex-direction: row;

        @media(max-width: 991px) {
            flex-direction: column-reverse;
        }

        & > .col {
            padding-left: 15px;
            padding-right: 15px;

            @media(max-width: 991px) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        img {
            width: 100%;
            height: auto;

            @media(max-width: 991px) {
                margin-top: 2rem;
            }
        }

        p {
            margin-bottom: 0.5rem;

            & > b {
                font-weight: 600;
            }
        }

        .form {
            .f-title {
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                color: #396a9b;
                font-weight: 400;
            }

            .row {
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;

                @media(max-width: 768px) {
                    flex-direction: column;
                }

                .label {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    width: 40%;
                    padding-right: 15px;
                    padding-top: 9px;

                    @media(max-width: 768px) {
                        width: 100%;
                        justify-content: flex-start;
                        margin-bottom: 0.5rem;
                    }

                    span.red {
                        font-weight: 600;
                        color: #cc0000;
                    }
                }

                .input {
                    width: 60%;

                    @media(max-width: 768px) {
                        width: 100%;
                        text-align: center;
                    }

                    input,
                    textarea {
                        width: 100%;
                        padding: 0.5rem;
                        font-size: 0.8rem;
                        line-height: 1;
                        border-radius: 3px; 
                        border: 1px solid #ccc;
                    }

                    textarea {
                        height: 200px;
                        font-family: "OpenSans", "Arial", sans-serif;
                        resize: none;
                    }

                    button {
                        background: #396a9b;
                        padding: 0.8rem 1.5rem;
                        border: 0;
                        color: #ffffff;
                        border-radius: 3px;
                        text-transform: uppercase;
                        font-size: 0.7rem;
                        cursor: pointer;
                        transition-duration: 0.2s;

                        &:hover {
                            box-shadow: 0 3px 5px 2px rgba(0,0,0,.1);
                        }
                    }
                }
            }
        }
    }
}

@import "media";