html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

input, select, textarea, button {
  outline: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype"); }

/* ACENT */
/* BACKGROUND */
/* FONTS */
/* BORDERS */
/* VIRABLE */
body {
  /*position: relative;*/
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background: #003367;
  color: #222222; }

.wrapper {
  max-width: 2570px;
  min-width: 360px;
  width: 100%;
  overflow: hidden; }

.content {
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

section .title {
  font-weight: 700;
  font-size: 30px;
  color: #0055ab;
  text-align: center; }

section .link {
  text-align: center; }
  section .link a {
    font-weight: 700;
    color: #3c3c3c;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    section .link a:hover {
      color: #232323; }

header .h-wrapper {
  position: relative;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  background: #0055ab;
  padding-top: 3px; }
  header .h-wrapper .nav-bar {
    padding-top: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d4cebb;
    background: #cdcfd1;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5); }
    header .h-wrapper .nav-bar .content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    header .h-wrapper .nav-bar .nb-visl,
    header .h-wrapper .nav-bar .nb-mail {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none; }
      header .h-wrapper .nav-bar .nb-visl .p,
      header .h-wrapper .nav-bar .nb-mail .p {
        font-size: 14px;
        color: #222222;
        text-decoration: none;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      header .h-wrapper .nav-bar .nb-visl svg,
      header .h-wrapper .nav-bar .nb-mail svg {
        display: block;
        width: 22px;
        height: 22px;
        margin-right: 5px; }
        header .h-wrapper .nav-bar .nb-visl svg path,
        header .h-wrapper .nav-bar .nb-mail svg path {
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          fill: #0055ab; }
      header .h-wrapper .nav-bar .nb-visl:hover .p,
      header .h-wrapper .nav-bar .nb-mail:hover .p {
        color: #363636;
        text-decoration: underline; }
      header .h-wrapper .nav-bar .nb-visl:hover svg path,
      header .h-wrapper .nav-bar .nb-mail:hover svg path {
        fill: #004197; }
    header .h-wrapper .nav-bar .nb-mail svg {
      width: 19px;
      height: 19px; }
    header .h-wrapper .nav-bar .nb-social-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .h-wrapper .nav-bar .nb-social-group .nbsg-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 28px;
        height: 28px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        overflow: hidden;
        border: 1px solid #0055ab;
        margin-right: 7px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); }
        header .h-wrapper .nav-bar .nb-social-group .nbsg-item:last-child {
          margin-right: 0; }
        header .h-wrapper .nav-bar .nb-social-group .nbsg-item svg {
          display: block;
          width: 100%;
          height: 100%; }
          header .h-wrapper .nav-bar .nb-social-group .nbsg-item svg path {
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            fill: #0055ab; }
        header .h-wrapper .nav-bar .nb-social-group .nbsg-item.yt svg {
          width: 80%;
          height: 80%; }
        header .h-wrapper .nav-bar .nb-social-group .nbsg-item:hover {
          border: 1px solid #004197; }
          header .h-wrapper .nav-bar .nb-social-group .nbsg-item:hover svg path {
            fill: #004197; }
    header .h-wrapper .nav-bar .nb-login-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .h-wrapper .nav-bar .nb-login-group .nblg-item {
        text-decoration: none;
        font-size: 14px;
        color: #222222;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        header .h-wrapper .nav-bar .nb-login-group .nblg-item:hover {
          text-decoration: underline;
          color: #363636; }
      header .h-wrapper .nav-bar .nb-login-group .nblg-separator {
        margin: 0 15px;
        width: 1px;
        height: 10px;
        background: #222222; }
    header .h-wrapper .nav-bar .nb-language-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      header .h-wrapper .nav-bar .nb-language-group .nblg-item {
        width: 27px;
        height: 17px;
        border: 1px solid #d8d6d6;
        cursor: pointer;
        -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); }
        header .h-wrapper .nav-bar .nb-language-group .nblg-item:first-child {
          margin-right: 7px; }
        header .h-wrapper .nav-bar .nb-language-group .nblg-item.ru {
          background: url(../img/ru.svg) center center no-repeat;
          -webkit-background-size: cover;
                  background-size: cover; }
        header .h-wrapper .nav-bar .nb-language-group .nblg-item.by {
          background: url(../img/by.svg) left center no-repeat;
          -webkit-background-size: cover;
                  background-size: cover; }
    header .h-wrapper .nav-bar .nb-search-group {
      position: relative; }
      header .h-wrapper .nav-bar .nb-search-group .nbsg-input {
        width: 240px;
        padding: 7px;
        padding-right: 30px;
        border: 1px solid #0055ab;
        background: #ffffff;
        font-family: "OpenSanss", "Arial", sans-serif;
        font-style: italic;
        -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-input::-webkit-input-placeholder {
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          color: #cdcfd1; }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-input:-ms-input-placeholder {
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          color: #cdcfd1; }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-input::-ms-input-placeholder {
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          color: #cdcfd1; }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-input::placeholder {
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          color: #cdcfd1; }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-input:focus::-webkit-input-placeholder {
          color: transparent; }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-input:focus:-ms-input-placeholder {
          color: transparent; }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-input:focus::-ms-input-placeholder {
          color: transparent; }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-input:focus::placeholder {
          color: transparent; }
      header .h-wrapper .nav-bar .nb-search-group .nbsg-buttom {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 22px;
        height: 22px;
        cursor: pointer; }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-buttom svg {
          width: 100%;
          height: 100%; }
          header .h-wrapper .nav-bar .nb-search-group .nbsg-buttom svg path {
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            fill: #222222; }
        header .h-wrapper .nav-bar .nb-search-group .nbsg-buttom:hover svg path {
          fill: #363636; }
  header .h-wrapper menu {
    margin-top: 12px;
    padding-bottom: 9px; }
    header .h-wrapper menu .content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    header .h-wrapper menu .menu-button {
      display: none;
      width: 28px;
      height: 17px;
      margin-right: 20px;
      cursor: pointer; }
      header .h-wrapper menu .menu-button .mb-line {
        width: 100%;
        height: 3px;
        background: #ffffff;
        margin-bottom: 4px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        header .h-wrapper menu .menu-button .mb-line:last-child {
          margin-bottom: 0; }
      header .h-wrapper menu .menu-button:hover .mb-line {
        background: #ebebeb; }
    header .h-wrapper menu nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      header .h-wrapper menu nav a {
        font-size: 17px;
        color: #ffffff;
        text-decoration: none;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        header .h-wrapper menu nav a:hover {
          color: #ebebeb;
          /*text-decoration: underline;*/ }
      header .h-wrapper menu nav .mb-separator {
        margin: 0 22px;
        width: 2px;
        height: 12px;
        background: #ffffff; }

main {
  background: #ffffff; }
  main .banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 340px;
    height: 700px;
    background: url(../img/back.jpg) center top no-repeat;
    /*background-size: cover;*/ }
    main .banner h1 {
      text-align: center;
      font-size: 28px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      line-height: 1.3;
      -webkit-transform: scaleY(1.1);
          -ms-transform: scaleY(1.1);
              transform: scaleY(1.1);
      text-shadow: 0 0 40px black; }
      main .banner h1 b {
        font-weight: 900; }
    main .banner img {
      width: 287px;
      height: 82px;
      margin-top: 130px;
      margin-bottom: 25px; }
    main .banner p {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 0 0 40px black; }
      main .banner p a {
        color: #ffffff; }
  main .afisha {
    background: #f2f2f2; }
    main .afisha .title {
      padding: 35px 0; }
    main .afisha .link {
      padding: 20px 0; }
      main .afisha .link a {
        font-size: 14px; }
    main .afisha .wrapper-items {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 0 25px; }
      main .afisha .wrapper-items .wi-navigation {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        height: 69px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
        main .afisha .wrapper-items .wi-navigation .win-arrow {
          width: 19px;
          height: 69px;
          cursor: pointer; }
          main .afisha .wrapper-items .wi-navigation .win-arrow.right {
            position: absolute;
            top: 0;
            right: -7px; }
          main .afisha .wrapper-items .wi-navigation .win-arrow.left {
            position: absolute;
            top: 0;
            left: -7px; }
          main .afisha .wrapper-items .wi-navigation .win-arrow svg {
            width: 100%;
            height: 100%; }
            main .afisha .wrapper-items .wi-navigation .win-arrow svg path {
              -webkit-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s;
              fill: #0055ab; }
          main .afisha .wrapper-items .wi-navigation .win-arrow:hover svg path {
            fill: #004197; }
      main .afisha .wrapper-items .item {
        position: relative;
        /*max-width: 360px;*/
        width: 31%;
        padding: 0 15px 20px 15px;
        border: 1px solid #bbbbbb;
        background: #ffffff;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1); }
        main .afisha .wrapper-items .item .ai-title {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: center;
          min-height: 75px;
          padding: 5px 0;
          color: #0055ab;
          font-weight: 700;
          font-size: 16px; }
        main .afisha .wrapper-items .item .ai-image {
          width: 100%; }
          main .afisha .wrapper-items .item .ai-image img {
            width: 100%; }
        main .afisha .wrapper-items .item .ai-descr {
          padding: 10px;
          font-size: 12px;
          text-align: center; }
        main .afisha .wrapper-items .item .ai-addit {
          position: absolute;
          bottom: 7px;
          left: 15px;
          right: 15px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          main .afisha .wrapper-items .item .ai-addit .aia-date {
            font-size: 14px;
            font-weight: 700;
            color: #0055ab; }
          main .afisha .wrapper-items .item .ai-addit .aia-link {
            display: block;
            color: #0055ab;
            font-size: 14px; }
  main .newbook {
    background: #ffffff; }
    main .newbook .title {
      padding: 25px; }
    main .newbook .link {
      padding: 40px; }
      main .newbook .link a {
        font-size: 18px; }
    main .newbook .wrapper-books {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
      main .newbook .wrapper-books .wb-item {
        padding: 0 10px; }
      main .newbook .wrapper-books img {
        display: block;
        max-height: 100%;
        max-width: 100%; }
  main .magazine {
    background: #f2f2f2; }
    main .magazine .title {
      padding: 30px 0; }
    main .magazine .link {
      padding: 30px 0; }
      main .magazine .link a {
        font-size: 14px; }
    main .magazine .wrapper-magazine {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
      main .magazine .wrapper-magazine .wm-item {
        padding: 0 10px; }
      main .magazine .wrapper-magazine img {
        display: block;
        max-height: 100%;
        max-width: 100%; }
  main .services {
    background: #e6e5e5; }
    main .services .title {
      padding: 25px 0; }
    main .services .s-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
      main .services .s-wrapper .s-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 45px; }
      main .services .s-wrapper .si-body {
        width: 215px;
        height: 215px;
        padding-top: 30px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #ffffff;
        overflow: hidden;
        border: 3px solid #0055ab;
        -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
        text-align: center; }
        main .services .s-wrapper .si-body img {
          display: inline-block;
          height: 90px; }
        main .services .s-wrapper .si-body p {
          color: #0055ab;
          font-size: 15px; }
  main .history {
    padding: 50px 0; }
    main .history .content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    main .history .h-descr {
      padding-right: 15px;
      width: 50%; }
      main .history .h-descr .hd-title {
        color: #0055ab;
        font-size: 24px;
        margin-bottom: 15px; }
      main .history .h-descr .hd-content p {
        margin-bottom: 15px; }
        main .history .h-descr .hd-content p:last-child {
          margin-bottom: 5px; }
      main .history .h-descr a.hd-link {
        display: block;
        text-align: right;
        color: #0055ab; }
    main .history .h-image {
      padding-left: 15px;
      width: 50%;
      background: url(../img/history.jpg) center center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
  main .map {
    width: 100%;
    height: 445px; }
  main .partner .wrapper-partner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 40px 0; }
    main .partner .wrapper-partner .wp-item {
      margin-right: 20px; }
      main .partner .wrapper-partner .wp-item:last-child {
        margin-right: 0; }
      main .partner .wrapper-partner .wp-item a, main .partner .wrapper-partner .wp-item img {
        display: block; }

footer nav,
footer .copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

footer nav {
  padding: 20px;
  background: #0055ab;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  footer nav a {
    display: block;
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    footer nav a:last-child {
      margin-right: 0; }
    footer nav a:hover {
      color: #ebebeb;
      /*text-decoration: underline;*/ }

footer .copyright {
  font-size: 15px;
  padding: 10px;
  background: #003367;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; }

@media (max-width: 1180px) {
  header .h-wrapper menu nav .mb-separator {
    margin: 0 10px; }
  main .banner {
    padding-top: 300px;
    padding-left: 10px;
    padding-right: 10px; }
  main .newbook .wrapper-books {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    main .newbook .wrapper-books .wb-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 20px; }
  main .newbook .link {
    padding-top: 20px; }
  main .magazine .wrapper-magazine {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    main .magazine .wrapper-magazine .wm-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 20px; }
  main .magazine .link {
    padding-top: 10px; }
  main .partner .wrapper-partner {
    padding-bottom: 20px; }
    main .partner .wrapper-partner .wp-item {
      margin-bottom: 20px; } }

@media (max-width: 992px) {
  header .h-wrapper menu {
    position: relative; }
    header .h-wrapper menu .menu-button {
      display: block; }
    header .h-wrapper menu nav {
      display: none;
      z-index: 999;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #ffffff; }
      header .h-wrapper menu nav a {
        font-size: 18px;
        display: block;
        color: #003367;
        padding: 10px 15px;
        border-bottom: 1px solid #e6e5e5; }
        header .h-wrapper menu nav a:hover {
          color: #001f53; }
      header .h-wrapper menu nav .mb-separator {
        display: none; }
  main .afisha .wrapper-items {
    padding: 0; }
    main .afisha .wrapper-items .wi-navigation {
      display: none; }
    main .afisha .wrapper-items .item {
      width: 100%;
      margin-bottom: 10px; }
      main .afisha .wrapper-items .item:last-child {
        margin-bottom: 0; }
      main .afisha .wrapper-items .item .ai-descr {
        font-size: 18px; }
  main .services .s-wrapper {
    grid-template-columns: 1fr 1fr; }
  footer nav {
    display: none; } }

@media (max-width: 768px) {
  main .banner {
    padding-top: 250px; }
  main .newbook .wrapper-books {
    grid-template-columns: 1fr 1fr 1fr; }
  main .magazine .wrapper-magazine {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (max-width: 615px) {
  main .banner {
    padding-top: 200px; }
  main .newbook .wrapper-books {
    grid-template-columns: 1fr 1fr; }
  main .magazine .wrapper-magazine {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 460px) {
  main .banner {
    padding-top: 90px; }
  main .services .s-wrapper {
    grid-template-columns: 1fr; } }
